



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<form class="ui form">
  <div class="ui two column grid">
    <div class="column centered">

      <div class="ui segment">

<div class ="ui form">
  <h2 class="ui icon center aligned header">
  <i class="circular settings icon"></i>
  <div class="content">
  Account Settings

</h2>


<%= gravatar_image_tag current_user.email, class: "ui avatar image" %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %><br />
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>


<center>


  <div class="actions">
    <%= f.submit "Update", class: "ui blue button" %>
    <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?,this can not be undone" }, method: :delete, class: "ui red button" %></p>
  </div>
<% end %>
<br />
</center>




</div>
</div>
</div>
</div>
</form>
