
<br>
<br>
<br>
<br>
<br>
<br>
<br >


<div class="ui segment">
<div class="ui form">
<%= simple_form_for @post do |f| %>


<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      <li>Contact us if you're still experiencing any problems submitting this form <%= link_to "Report Problem", new_contact_path %></li>
    </ul>
  </div>
  <% end %>



  <center>

     <div class="six wide field">


     <label>Instagram Username<b>*(required)</b></label>

    <%= f.text_field :instagram_username, required: true,label: false %>
  </div>


   <div class="six wide field">
     <label>Copy and Paste Instagram Profile URL*(required)</label>
    <%= f.text_field :url, as: :url, required: true, label: false %>
    <%# f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}, label: "Select Category:", prompt: "Click to select", required: true %>
    <%= f.input :tag_ids, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}, label: "Select Category:",  required: true %>
  </div>
  </div>


<center>

<br >

 <%= button_tag(type: "submit", class: "ui instagram button big") do %>
  	<span><i class="instagram icon"></i> Post Influencer</span>

  	<% end %>
</center>





</div>



<% end %>




</div>
