<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="http://influenstagram.com/assets/insta2-d0a1319a9124315c90702ffc4799ad0f0ee0898b68d4de2a5e40bfdd2a9cf067.jpg" />
    <meta property="og:url" content="http://influenstagram.com" />
     <meta property="og:description" content="User Reviews and Recommendations of the Best Instagram Influencers" />
    <title>Influenstagram</title>
    <%= csrf_meta_tags %>
    <%# csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js" %>

<% if Rails.env.production? %>
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139517684-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139517684-1');
</script>
<% end %>

  </head>

  <body>
            <div class="ui white small inverted menu fixed">
              <div class="ui container">




          <h3><%= link_to 'ð¼ð“ƒð’»ð“ð“Šð‘’ð“ƒð“ˆð“‰ð’¶ð‘”ð“‡ð’¶ð“‚', root_path ,class: "item"  %></h3>



          <div class="right menu">


            <div class="item">


            <div class="ui category search">
                  <%= form_tag(search_page_path, :method => "get",
            class: 'four wide field') do %>



          <div class="ui action input">
            <%= search_field_tag :search, params[:search], placeholder: "Search username....",class: "ui input "  %>

              <%= button_tag "", class:'ui blue button' do %>


              <i class="search icon"></i>

              <% end %>



          </div>





        <% end %>
        </div>
        </div>
        </div>
        <div class="item">

        <%= link_to "Send Feedback", new_contact_path %>
        </div>

          <% if user_signed_in? %>
          <div class="item">


          <%= link_to new_post_path, class: "ui inverted button" do %>
          <i class="inverted blue instagram icon"></i> List An Influencer
          <% end %>
           </div>
          <% end %>



         <% if user_signed_in? %>
            <div class="ui dropdown item">
              <button class="ui primary button">


                Hello <i><%= current_user.username %></i> , Account <i class="dropdown icon"></i>
            </button>
              <div class="menu">

                <% if current_user.admin? %>

               <%= link_to "New Blog post", new_blog_path, class: "item" %><% end %>

              <%= link_to "Account Settings", edit_user_registration_path(@user), class: "item" %>
              <%= link_to "Send Feedback", new_contact_path, class: "item" %>

              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>



              </div>

              <% else %>
            <div class="item">
          <%= link_to new_post_path, class: "ui inverted button" do %>
          <i class="inverted blue instagram icon"></i> List An Influencer
          <% end %>

          </div>
          <% if user_signed_in? %>
         <% if current_user.admin? %>
          <div class="item">
        <%= link_to new_blog_path, class: "ui inverted button" do %>
        <i class="inverted blue book icon"></i> New Blog Post
        <% end %>

        </div>
        <% end %>
        <% end %>

              <div class="item">
            <%= link_to "Log in", user_session_path, class: "ui inverted button" %>



            <div class="item">
            <%= link_to "Sign Up", new_user_registration_path , class: "ui primary button" %>



            <% end %>


          </div>



          </div>

            </div>





            </div>

        <div class="ui container">
          <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<style type="text/css">
  .alert-success{
    color: green;
  }
  .alert-danger{
    color: red;
  }
</style>
    <%= yield %>
 </div>
 <% if notice %>

<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>

<p class="alert alert-danger"><%= alert %></p>
<% end %>

<style type="text/css">
.alert-success{
color: green;
}
.alert-danger{
color: red;
}
</style>

</body>
</html>


<script>
$(document).on('turbolinks:load', function(){
  $('.ui.dropdown')
  .dropdown()
;
})

</script>

<script>
$(document).on('turbolinks:load', function(){
    $(".alert").delay(2000).slideUp(500, function(){
          $(".alert").alert('close');
      });
    });
</script>


<script>
$(document).on('turbolinks:load', function(){
    $(".alert").delay(2000).slideUp(500, function(){
          $(".notice").alert('close');
      });
    });
</script>


<script>
  $(document).on('turbolinks:load', function () {
    $('#post_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script>
